@import "../../../client/_vars.scss";

body {
  background-color: $primary-color-light;
  color: $text-color;
}

.loading-indicator-background {
  position: fixed;
  left: $spacer;
  bottom: $spacer;
}
