APP_ENV=local
APP_KEY=SomeRandomString
APP_DEBUG=true
APP_LOG_LEVEL=debug
APP_URL=http://localhost

DB_CONNECTION=sqlite
--- or ---
DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE="dbname"
DB_USERNAME="dbuser"
DB_PASSWORD="dbpass"
--- or ---
DB_CONNECTION=pgsql
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE="dbname"
DB_USERNAME="dbuser"
DB_PASSWORD="dbpass"

CACHE_DRIVER=file
SESSION_DRIVER=database
QUEUE_DRIVER=database

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=smtp
MAIL_HOST=mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME="userkey"
MAIL_PASSWORD="passkey"
MAIL_ENCRYPTION=tls

MAL_USER="username"
MAL_PASS="password"
KISSANIME_USER="cookiekey"
KISSANIME_PASS="cookiekey"
KISSCARTOON_USER="cookiekey"
KISSCARTOON_PASS="cookiekey"
