<template name="layouts_main">
  <header>

    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNav" aria-controls="mainNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="mainNav">

        <ul class="navbar-nav mr-auto">
          {{> layouts_main_nav_link_internal routeName='welcome' routeTitle='Home' activeWhen='welcome'}}
          {{> layouts_main_nav_link_internal routeName='search' routeTitle='Anime' activeWhen='search|show|episode'}}
          {{> layouts_main_nav_link_external href='https://github.com/Wicloz/AnimeSentinel/tree/meteor' title='GitHub'}}
        </ul>

        <ul class="navbar-nav">
          {{#if currentUser}}
            {{> layouts_main_nav_link_internal routeName='animeOverview' routeTitle='Anime Overview' activeWhen='animeOverview'}}
            {{> layouts_main_nav_link_internal routeName='manageProfile' routeTitle='Manage Profile' activeWhen='manageProfile'}}
            {{> layouts_main_nav_link_internal routeName='logOut' routeTitle='Log Out' activeWhen='logOut'}}
          {{else}}
            {{> layouts_main_nav_link_internal routeName='logIn' routeTitle='Log In' activeWhen='logIn'}}
            {{> layouts_main_nav_link_internal routeName='register' routeTitle='Register' activeWhen='register'}}
          {{/if}}
        </ul>

      </div>
    </nav>
    <div class="navbar-padder"></div>

    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          {{#each breadCrumb in breadCrumbs}}
            <li class="breadcrumb-item">
              <a href="{{breadCrumb.url}}">{{breadCrumb.name}}</a>
            </li>
          {{/each}}
          <li class="breadcrumb-item active" aria-current="page">{{pageTitle}}</li>
        </ol>
      </nav>
    </div>

  </header>
  <main>

    {{> Template.dynamic template=content}}

  </main>
  <footer>

    <div class="bg-dark text-white-50 footer">
      <div class="container">
        <div class="row">

          <div class="col-sm-5">
            <h5>
              <i class="fas fa-cog"></i>
              Settings
            </h5>
            {{#autoForm schema='Schemas.translationTypeSelection' id='translationTypeSelectionForm' autosave=true preserveForm=false}}
              {{> afQuickField name='translationType' value=($getStorageItem 'SelectedTranslationType')}}
            {{/autoForm}}
          </div>

          <div class="col-sm-5">
            <h5>
              <i class="fas fa-link"></i>
              Connect
            </h5>
            <div>
              <iframe title="Star on GitHub" src="https://ghbtns.com/github-btn.html?user=Wicloz&repo=AnimeSentinel&type=star&count=true&size=large" frameborder="0" scrolling="0" width="160px" height="30px"></iframe>
              <iframe title="Watch on GitHub" src="https://ghbtns.com/github-btn.html?user=Wicloz&repo=AnimeSentinel&type=watch&count=true&size=large&v=2" frameborder="0" scrolling="0" width="160px" height="30px"></iframe>
            </div>
            <a role="button" class="btn btn-primary" href="mailto:animesentinel@wilcodeboer.me">
              <i class="fas fa-envelope"></i> Mail Us
            </a>
          </div>

          <div class="col-sm-2">
            <div class="float-right">
              <img class="loading-indicator-background-stub hidden" src="/media/loading.gif" alt="Loading...">
              {{#if loadingBackground}}
                <img class="loading-indicator-background" src="/media/loading.gif" alt="Loading...">
              {{/if}}
            </div>
          </div>

        </div>
      </div>
    </div>

  </footer>
</template>

<template name="layouts_main_nav_link_internal">
  <li class="nav-item {{isActiveRoute regex=activeWhen}}">
    <a class="nav-link" href="{{pathFor routeName}}">{{routeTitle}}</a>
  </li>
</template>

<template name="layouts_main_nav_link_external">
  <li class="nav-item">
    <a class="nav-link" target="_blank" rel="noopener" href="{{href}}">
      {{title}}
      <i class="fas fa-link"></i>
    </a>
  </li>
</template>
