@import "../../../client/_vars.scss";

.card-player-container > .card-img {
  padding-top: 75%;
  position: relative;
  overflow: hidden;

  #episode-frame {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
  }
}

.card-episode-selection > .card-body {
  display: flex;

  button {
    flex: 0 0 auto;
  }

  form {
    flex: 1 1 100%;
    margin: 0 $spacer;
  }
}

.disable-cloudflare-filter-image {
  display: block;
  width: 100%;
  max-height: $thumbnail-height;
  object-fit: contain;
  object-position: left;
  padding: $spacer;
}

.card-mixed-content > .card-body {
  display: flex;
  flex-wrap: wrap;
  padding-right: $card-spacer-x - $spacer;

  span {
    flex: 1 1 $thumbnail-height;
    margin-right: $spacer;

    img {
      width: 100%;
    }
  }
}

.episode-mal-widget-body {
  padding-top: 10px;
  padding-bottom: 10px;

  > .episode-mal-widget-container {
    height: 26px;
    overflow: hidden;
    position: relative;
    width: 398px;

    > iframe {
      top: -286px;
      position: absolute;
      width: 1000px;
      height: 1000px;
      border: none;
      left: -258px;
    }
  }
}
