@import "../../../client/_vars.scss";

#statusesSelectionForm .checkbox-inline {
  margin-bottom: 0;

  &:last-child {
    margin-right: 0;
  }
}

.card-overview-controls .row {
  margin-bottom: -$spacer;

  .col-auto {
    margin-bottom: $spacer;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    & > *:not(:last-child) {
      margin-right: $spacer;
    }
  }
}

.card-watch-episodes {
  overflow: hidden;

  .list-group {
    max-height: $list-group-item-padding-y * 4 + $line-height-base * $font-size-base * 2;
    overflow-y: auto;
  }
}

.reload-show-btn {
  white-space: normal;
  width: 100%;
}

.card-overview-entries {
  border-left: none;

  & > .list-group > .list-group-item {
    border-left: 6px $dark solid;

    &.watching {
      border-left-color: $mal-watching-color;
    }
    &.completed {
      border-left-color: $mal-completed-color;
    }
    &.held {
      border-left-color: $mal-held-color;
    }
    &.dropped {
      border-left-color: $mal-dropped-color;
    }
    &.planned {
      border-left-color: $mal-planned-color;
    }
  }

  &.overview-entries-idle > .list-group > .list-group-item:nth-last-child(2) {
    @include border-bottom-radius($list-group-border-radius);
  }
}
