@import "../../../client/_vars.scss";

.card-overview-controls .row {
  margin-bottom: -$spacer;

  .col-auto {
    margin-bottom: $spacer;
    max-width: 100%;
  }

  .af-checkbox-group, .col-auto {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    & > * {
      margin-right: $spacer;
      margin-bottom: 0;
    }
  }
}

.card-watch-episodes {
  overflow: hidden;

  .list-group {
    max-height: $list-group-item-padding-y * 4 + $line-height-base * $font-size-base * 2;
    overflow-y: auto;
  }
}

.reload-show-btn {
  white-space: normal;
}
