@import "../../../client/_vars.scss";

.card-show-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-right: $card-spacer-x - $spacer;
  padding-bottom: 0;

  .card-show-item {
    flex: 0 0 auto;
    width: 100%;
    @include media-breakpoint-up(sm) {
      width: min-content;
    }

    color: $white;
    text-decoration: none;
    font-weight: $font-weight-light;
    font-size: $font-size-sm;
    background-color: $dark;

    .card-img-top {
      margin-bottom: $font-size-sm * $line-height-sm * -1;

      max-height: $thumbnail-height;
      width: 100%;
      object-fit: contain;

      @include media-breakpoint-up(sm) {
        height: $thumbnail-height;
        width: auto;
        min-width: $thumbnail-height / 1.5;
      }
    }

    .card-img-info {
      display: flex;
      justify-content: space-between;

      & > * {
        height: 0;
        border-bottom: $font-size-sm * $line-height-sm transparentize($dark, 0.1) solid;
        flex: 0 0 auto;
        white-space: nowrap;
      }

      .card-img-info-left {
        border-right: 10px transparent solid;
        padding-right: 1px;
        padding-left: 3px;
      }

      .card-img-info-right {
        border-left: 10px transparent solid;
        padding-left: 1px;
        padding-right: 3px;
      }
    }

    .card-body {
      padding: 0 3px;
    }
  }

  & > * {
    margin-right: $spacer;
  }
}
