// main: app.scss
@import 'vars';

// Panels //

.panel {
  background-color: $background_colour-content_header;
}

.panel-default {
  border-color: #444;
  > .panel-heading {
    color: $text_colour-content;
    background-color: #444;
    border-color: #444;
  }
}

.panel-primary {
  border-color: #235580;
  > .panel-heading {
    color: $text_colour-content;
    background-color: #235580;
    border-color: #235580;
  }
}

.panel-succes {
  border-color: $concol-success_background;
  > .panel-heading {
    color: $concol-success_text;
    background-color: $concol-success_background;
    border-color: $concol-success_background;
  }
}

.panel-info {
  border-color: $concol-info_background;
  > .panel-heading {
    color: $concol-info_text;
    background-color: $concol-info_background;
    border-color: $concol-info_background;
  }
}

.panel-warning {
  border-color: $concol-warning_background;
  > .panel-heading {
    color: $concol-warning_text;
    background-color: $concol-warning_background;
    border-color: $concol-warning_background;
  }
}

.panel-danger {
  border-color: $concol-danger_background;
  > .panel-heading {
    color: $concol-danger_text;
    background-color: $concol-danger_background;
    border-color: $concol-danger_background;
  }
}
