// main: app.scss
@import 'vars';

// bigrow //
.item-bigrow {
  background-color: $background_colour-content_main;
  margin-bottom: 15px;
  padding: 10px;

  @media (min-width: 768px) {
    > .row > .col-sm-2 {
      padding-right: 0px;
    }
    > .row > .col-sm-10 > .row > .col-sm-3 {
      padding-left: 0px;
    }
  }

  .bigrow-thumbnail-wide {
    width: 100%;
    @media (max-width: 767px) {
      display: none;
    }
  }

  .bigrow-thumbnail-slim {
    width: 20%;
    margin-top: 8px;
    margin-bottom: 8px;
    @media (min-width: 768px) {
      display: none;
    }
  }

  .bigrow-title {
    background-color: $background_colour-content_header;
    font-size: 24px;
    padding: 5px 10px;
    margin-bottom: 10px;
  }

  .bigrow-description {
    margin-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    overflow-y: scroll;
    max-height: 200px;
    @media (min-width: 768px) {
      max-height: 195px;
    }
  }

  .bigrow-details {
    background-color: $background_colour-content_header;
    padding: 5px 10px;
    margin-bottom: 10px;
    p {
      margin-bottom: 5px;
    }
    p:last-child {
      margin-bottom: 0px;
    }
  }

  .bigrow-bottombar {
    background-color: $background_colour-content_header;
    padding: 5px 10px;
    font-size: 16px;
    button {
      padding: 0px 5px;
      margin-top: -3px;
    }
  }
}

// smallrow //
.item-smallrow {
  background-color: $background_colour-content_main;
  margin-bottom: 15px;
  padding: 10px;

  @media (min-width: 768px) {
    > .row > .col-sm-1 {
      padding-right: 0px;
    }
    > .row > .col-sm-3 {
      padding-left: 0px;
    }
    > .row > .col-sm-8 {
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  .smallrow-thumbnail-wide {
    width: 100%;
    @media (max-width: 767px) {
      display: none;
    }
  }

  .smallrow-thumbnail-slim {
    width: 20%;
    margin-top: 4px;
    margin-bottom: 4px;
    @media (min-width: 768px) {
      display: none;
    }
  }

  .smallrow-title {
    background-color: $background_colour-content_header;
    font-size: 16px;
    padding: 2px 6px;
    margin-bottom: 5px;
  }

  .smallrow-description {
    margin-bottom: 5px;
    padding-left: 2px;
    padding-right: 2px;
    overflow-y: scroll;
    max-height: 100px;
    @media (min-width: 768px) {
      height: 80.15px;
    }
  }

  .smallrow-bottombar {
    background-color: $background_colour-content_header;
    padding: 2px 6px;
  }

  .smallrow-details {
    background-color: $background_colour-content_header;
    padding: 2px 6px;
    margin-bottom: 5px;
    p {
      margin-bottom: 2px;
    }
    p:last-child {
      margin-bottom: 0px;
    }
    button {
      padding: 0px 5px;
      margin-bottom: 4px;
    }
  }
  .smallrow-details:last-child {
    margin-bottom: 0px;
  }
}
