// main: app.scss
@import 'vars';

// TODO: proper scaling
.malw-banner {
  width: 597px;
  height: 146px;
  overflow: hidden;
  position: relative;
  margin-bottom: 10px;

  > iframe {
    position: absolute;
    top: -183px;
    left: -242px;
    width: 1024px;
    height: 512px;
    border: none;
  }
}

// TODO: proper scaling
.malw-sidebar {
  width: 231px;
  height: 1000px;
  overflow: hidden;
  position: relative;
  margin-bottom: 10px;

  > iframe {
    position: absolute;
    top: -121px;
    left: -11px;
    width: 1024px;
    height: 1280px;
    border: none;
  }
}
