// main: app.scss
@import 'vars';

.alert-success {
  color: $concol-success_text;
  background-color: $concol-success_background;
  border-color: $concol-success_text;
}

.alert-info {
  color: $concol-info_text;
  background-color: $concol-info_background;
  border-color: $concol-info_text;
}

.alert-warning {
  color: $concol-warning_text;
  background-color: $concol-warning_background;
  border-color: $concol-warning_text;
}

.alert-danger {
  color: $concol-danger_text;
  background-color: $concol-danger_background;
  border-color: $concol-danger_text;
}
