// main: app.scss
@import 'vars';

.alert-success {
  color: #4f8a10;
  background-color: #dff2bf;
  border-color: #4f8a10;
}

.alert-info {
  color: #00529b;
  background-color: #bde5f8;
  border-color: #00529b;
}

.alert-warning {
  color: #9f6000;
  background-color: #feefb3;
  border-color: #9f6000;
}

.alert-error, .alert-danger {
  color: #d8000c;
  background-color: #ffbaba;
  border-color: #d8000c;
}
