// main: app.scss
@import 'vars';

.details-thumbnail {
  display: none;
}
@media (min-width: 992px) {
  .details-thumbnail {
    display: block;
    width: 100%;
    margin-bottom: 15px;
  }
}

.episode-list {
  margin-bottom: 10px;
}
