// main: app.scss
@import 'vars';

.details-thumbnail-wide {
  width: 100%;
  margin-bottom: 15px;
}

.details-thumbnail-slim {
  width: 16%;
  margin-top: 5px;
  margin-bottom: 5px;
}

.episode-list {
  margin-bottom: 10px;

  @media (min-width: 768px) {
    .streamer-pull-right {
      float: right;
    }
  }

  .status-pull-right {
    float: right;
  }
  @media (min-width: 768px) {
    .status-pull-right {
      float: none;
    }
  }
}
