// main: app.scss
@import 'vars';

.searchbar-top {
  background-color: $background_colour-content_header;
  width: calc(100% - 30px);
  padding: 15px 15px 0px;
  @media (min-width: 768px) {
    padding: 12px 15px 0px;
  }

  form {
    .group-search {
      width: calc(100% - 68px - 15px);
      display: inline-block;
    }
    button {
      display: inline-block;
      margin-top: 25px;
    }
    .help-block {
      margin-bottom: -5px;
    }
    @media (min-width: 768px) {
      .group-search {
        width: calc(100% - 67.8167px - 15px);
      }
    }
  }
}

@media (min-width: 992px) {
  .searchbar-top {
    margin: 0px 15px 20px;
  }
}

.loop-icon {
  font-size: 18px;
}
