// main: app.scss
@import 'vars';

.streamplayer {
  width: 100%;
  position: relative;
}
.streamplayer:before {
	content: "";
	display: block;
	padding-top: 56.25%;
}

.streamplayer-video {
  position: absolute;
  width: 100%;
  height: 100%;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
  border: none;
}

.streamplayer-embed {
  width: calc(100% + 8px);
  height: calc(100% + 8px);
}
