// main: app.scss
@import 'vars';

.episode-block {
  background-color: $background_colour-content1;
  padding: 5px 10px;
  margin-bottom: 10px;
  > p {
    margin-bottom: 0px;
  }
}

.episode-info-bad {
  color: #d8000c;
}

.episode-info-good {
  color: #4f8a10;
}
