// main: app.scss
@import 'vars';

#content {
  color: $text_colour-content;
}

#content-left, #content-center, #content-main {
  margin-bottom: 20px;
}

// Jumbotrons //

.jumbotron {
  background-color: $background_colour-jumbotron;
  p {
    font-weight: 300;
  }
}

.jumbotron-welcome {
  background-color: transparent;
  > .container {
    background-color: transparentize($background_colour-jumbotron, 0.1);
    box-shadow: 0 0 64px $background_colour-jumbotron;
    margin-top: -48px;
    margin-bottom: -61px;
  }
}

@media (max-width: 991px) {
  .jumbotron-welcome > .container {
    width: 100%;
  }
}

@media (min-width: 992px) {
  .jumbotron-welcome > .container {
    margin-top: 0px;
    margin-bottom: 0px;
  }
}

.jumbotron-welcome::before {
  content: " ";
  position: absolute;
  margin-top: -48px;
  width: 100%;
  height: $welcome_picture-height;
  z-index: -1;
  background-image: url('../../media/backgrounds/welcome');
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: inset 0 0 10px $background_colour-main;
}

.welcome-content-wrapper {
  background-color: transparentize($text_colour-navs, 0.1);
  padding: 15px 15px 0px;
  margin-left: -15px;
  margin-right: -15px;
  float: left;
  width: calc(100% + 30px);
}

.welcome-content-wrapper::before {
  content: " ";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: $welcome_picture-height - 530px;
  max-height: 100%;
  z-index: -1;
  box-shadow: 0 0 64px $text_colour-navs;
}

// Content Elements //

.content-header {
  padding: 10px 15px;
  background-color: $background_colour-content_header;
  font-size: 24px;
  margin-bottom: 15px;
}

.header-center {
  text-align: center;
}

.content-generic {
  background-color: $background_colour-content_main;
  margin-bottom: 15px;
  padding: 15px;
}

.content-dark {
  background-color: $background_colour-content_header;
}

.content-close {
  border: 1px solid $border_colour-main;
  width: 100%;
}
