// main: app.scss
@import 'vars';

.searchbar-top {
  background-color: $background_colour-content_header;
  padding: 15px;
  width: 100%;
  form {
    .loop {
      font-size: 18px;
    }
    .searchfield {
      //width: calc(100% - 80px);
      //display: inline-block;
    }
    submit {
      //display: inline-block;
    }
  }
}
