// main: app.scss
@import 'vars';

.panel {
  background-color: $background_colour-content_header;
}

.panel-default {
  border-color: #444;
  > .panel-heading {
    color: $text_colour-content;
    background-color: #444;
    border-color: #444;
  }
}

.panel-primary {
  border-color: #235580;
  > .panel-heading {
    color: $text_colour-content;
    background-color: #235580;
    border-color: #235580;
  }
}

.panel-succes {
  border-color: #dff2bf;
  > .panel-heading {
    color: #4f8a10;
    background-color: #dff2bf;
    border-color: #dff2bf;
  }
}

.panel-info {
  border-color: #bde5f8;
  > .panel-heading {
    color: #00529b;
    background-color: #bde5f8;
    border-color: #bde5f8;
  }
}

.panel-warning {
  border-color: #feefb3;
  > .panel-heading {
    color: #9f6000;
    background-color: #feefb3;
    border-color: #feefb3;
  }
}

.panel-danger {
  border-color: #ffbaba;
  > .panel-heading {
    color: #d8000c;
    background-color: #ffbaba;
    border-color: #ffbaba;
  }
}
