// main: app.scss
@import 'vars';

.recent-type-icon {
  height: 34.2833px;
  margin-left: 5px;
  margin-top: -4.167px;
}

// Synopsis Panels //

.synopsis-panel {
  background-color: $background_colour-content1;
  margin-bottom: 15px;
  padding: 15px;

  > .row > .col-sm-2 {
    margin-bottom: 15px;
  }
  @media (min-width: 768px) {
    > .row > .col-sm-2 {
      margin-bottom: 0px;
      padding-right: 0px;
    }
  }

  .synopsis-thumbnail {
    width: 100%;
  }

  .synopsis-title {
    background-color: $background_colour-content2;
    font-size: 24px;
    padding: 5px 10px;
    margin-bottom: 10px;
    > a {
      color: inherit;
    }
    > a:focus, a:hover {
      color: $text_colour-navs;
      text-decoration: inherit;
    }
  }

  .synopsis-description {
    margin-bottom: 10px;
    padding: 0px 6px;
    margin-top: -3px;
    > .toggle {
      text-align: center;
      margin-bottom: 5px;
      margin-top: -5px;
    }
  }

  .synopsis-description-top {
    position: absolute;
  }

  .synopsis-details {
    background-color: $background_colour-content2;
    padding: 5px 10px 1px;
    margin-bottom: 10px;
    p {
      margin-bottom: 5px;
    }
  }

  .synopsis-bottombar {
    background-color: $background_colour-content2;
    padding: 5px 10px;
    font-size: 16px;
    a {
      color: inherit;
    }
    a:focus, a:hover {
      color: $text_colour-navs;
      text-decoration: inherit;
    }
  }
}

// Synopsis Blocks //

.synblock {
  background-color: $background_colour-content1;
  padding: 15px;
  width: 100%;
  margin-bottom: 15px;
}

.synblock-thumbnail {
  width: 100%;
  margin-bottom: 10px;
}

.synblock-ttype-sub, .synblock-ttype-dub {
  position: absolute;
  top: 15px;
  font-size: 24px;
  background-color: transparentize($background_colour-content2, 0.15);
  box-shadow: 0 0 10px $background_colour-content2;
  padding: 1px 5px;
}

.synblock-ttype-sub {
  left: calc(50% - (78.9px / 2) - 5px);
}

.synblock-ttype-dub {
  left: calc(50% - (84.25px / 2) - 5px);
}

.synblock-title, .synblock-episode {
  background-color: $background_colour-content2;
  font-size: 24px;
  padding: 5px 10px;
  > a {
    color: inherit;
  }
  > a:focus, a:hover {
    color: $text_colour-navs;
    text-decoration: inherit;
  }
}

.synblock-title {
  margin-bottom: 10px;
}
