// main: app.scss
@import 'vars';

.table-striped > tbody > tr:nth-of-type(2n+1) {
  background-color: $background_colour-content_accent1;
}

.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th,
.table-bordered, .table, .table-responsive {
  border-color: $border_colour-main;
}

.table-hover > tbody > tr:hover {
  background-color: $background_colour-content_accent2;
}

@-moz-document url-prefix() {
  fieldset { display: table-cell; }
}

.table-responsive > .table-anime > tbody > tr > td {
  white-space: normal;
}

.table-anime {
  > tbody > tr {
    cursor: pointer;
    p, button {
      margin-bottom: 8px;
    }
  }
  .col-thumbnail {
    width: 5%;
    min-width: 80px;
  }
  .col-description {
    width: 25%;
    min-width: 200px;
    > .table-description {
      overflow-y: scroll;
      height: 100px;
      padding-right: 3px;
    }
  }
  .col-watchable {
    ul {
      margin-bottom: 0px;
    }
    button {
      margin-bottom: 4px;
    }
  }
}
