// main: app.scss

$background_colour-content_accent1: #21252b;
$background_colour-content_accent2: #17191e;
$background_colour-content_main: #282c34;
$background_colour-content_header: #101114;

$background_colour-main: #202329;
$background_colour-navs: #101114;
$background_colour-jumbotron: #21252b;

$border_colour-main: #000;

$text_colour-navs: #9d9d9d;
$text_colour-content: #eee;

$welcome_picture-height: 1080px;

// Context Colours //

$concol-primary_text: #337ab7;
$concol-primary_background: #337ab7;

$concol-success_text: #4f8a10;
$concol-success_background: #dff2bf;

$concol-info_text: #00529b;
$concol-info_background: #bde5f8;

$concol-warning_text: #9f6000;
$concol-warning_background: #feefb3;

$concol-danger_text: #d8000c;
$concol-danger_background: #ffbaba;
