// main: app.scss

$background_colour-main: #282c34;
$background_colour-navs: #222;
$background_colour-inline: #21252b;
$border_colour-main: #080808;
$text_colour-content: #eee;
$text_colour-navs: #9d9d9d;
