@import 'vars';
@import 'navbar';
@import 'notifications';
@import 'disqus';
@import 'malwidgets';
@import 'tables';
@import 'listitems';
@import 'pageContent';
@import 'pageDetails';
@import 'pageEpisode';
@import 'pageBrowse';

// Main Styling //
body {
  font-family: 'Lato';
  background-color: $background_colour-main;
  color: $text_colour-navs;
}

h1 > a, h1 > a:focus, h1 > a:hover, h2 > a, h2 > a:focus, h2 > a:hover {
	text-decoration: inherit;
	color: inherit;
	outline-width: 0px;
}

a {
  transition: color 0.2s;
  text-decoration: inherit;
  color: inherit;
}
a:focus, a:hover {
  text-decoration: inherit;
  color: $text_colour-navs;
}

// List Group Restyling //
.list-group {
  > .list-group-item {
    background-color: $background_colour-content_accent1;
    border-color: $border_colour-main;
  }
  > .active, .active:focus, .active:hover {
    background-color: #235580;
    border-color: $border_colour-main;
  }
  h1, h2, h3 {
    margin: 0px;
  }
}

// Specific Modules //
.list-header {
  padding: 5px 10px;
  background-color: $background_colour-content_header;
  font-size: 20px;
  border-radius: 4px;
  margin-left: -2px;
  margin-right: -2px;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.align-center {
  text-align: center;
}

.last-margin {
  margin-bottom: 0px !important;
}

.fa-btn {
  margin-right: 6px;
}

img {
  max-width: 100%;
}

button {
  color: $background_colour-content_header;
}

.img-thumbnail {
  color: $background_colour-content_header;
  background-color: $text_colour-navs;
  border-color: $text_colour-navs;
}

.stick-to-nav {
  margin-top: -20px;
}

.flowfix {
  overflow: hidden;
}

.arrow-left, .arrow-right {
  font-size: 40px;
  margin-top: -14px;
}

.arrow-left {
  text-align: left;
  float: left;
}

.arrow-right {
  text-align: right;
  float: right;
}

.arrow-left:focus, .arrow-right:focus {
  outline: none;
}

.arrow-hide {
  visibility: hidden;
}
