@import 'vars';
@import 'navbar';
@import 'panels';
@import 'notifications';
@import 'synopsy';
@import 'pageContent';
@import 'pageDetails';

// node node_modules\gulp\bin\gulp.js watch

// Main Styling //
body {
  font-family: 'Lato';
  background-color: $background_colour-main;
  color: $text_colour-navs;
}

h1 > a, h1 > a:focus, h1 > a:hover, h2 > a, h2 > a:focus, h2 > a:hover {
	text-decoration: inherit;
	color: inherit;
	outline-width: 0px;
}

a {
  transition: color 0.2s;
  text-decoration: inherit;
}

#footer {

}

// Search Bar //
.searchbar-top {
  background-color: $background_colour-content2;
  padding: 15px 15px 0px;
  margin-bottom: 20px;
  margin-top: -20px;
  float: left;
  width: 100%;
  input {
    display: inline-block;
    width: calc(100% - 80px);
  }
  submit {
    display: inline-block;
  }
  > .form-group {
    margin-bottom: 5px;
  }
  > p {
    margin-bottom: 10px;
  }
}

@media (min-width: 768px) {
  .searchbar-top {
    width: 90%;
    margin-left: 5%;
    margin-top: 0px;
  }
}

// Specific Modules //
.fa-btn {
  margin-right: 6px;
}

img {
  max-width: 100%;
}

.img-thumbnail {
  color: $background_colour-content2;
  background-color: $text_colour-navs;
  border-color: $text_colour-navs;
}

.list-group {
  > .list-group-item {
    background-color: $background_colour-jumbotron;
    border-color: $border_colour-main;
  }
  > .active, .active:focus, .active:hover {
    background-color: #235580;
    border-color: $border_colour-main;
  }
  a {
    color: $text_colour-content;
  }
  a:focus, a:hover {
    color: $text_colour-navs;
    text-decoration: inherit;
  }
}

.stick-to-nav {
  margin-top: -20px;
}

.jumbotron {
  background-color: $background_colour-jumbotron;
  p {
    font-weight: 300;
  }
}

.jumbotron-welcome {
  background-color: transparent;
  > .container {
    background-color: transparentize($background_colour-jumbotron, 0.1);
    box-shadow: 0 0 64px $background_colour-jumbotron;
    margin-top: -48px;
    margin-bottom: -61px;
  }
}

@media (min-width: 768px) {
  .jumbotron-welcome > .container {
    margin-top: 0px;
    margin-bottom: 0px;
  }
}

.jumbotron-welcome::before {
  content: " ";
  position: absolute;
  margin-top: -48px;
  width: 100%;
  height: $welcome_picture-height;
  z-index: -1;
  background-image: url('../../media/backgrounds/welcome.png');
  box-shadow: inset 0 0 10px $background_colour-main;
}

.flowfix {
  overflow: hidden;
}
