// compressedFilenamePattern: ../../../public/css/$1.min.css
@import 'vars';
@import 'panels';

// Main Styling //
body {
  font-family: 'Lato';
  background-color: $background_colour-main;
  color: $text_colour-navs;
}

h1, h2, h3 {
  text-align: center;
}

h1 > a, h1 > a:focus, h1 > a:hover, h2 > a, h2 > a:focus, h2 > a:hover {
	text-decoration: none;
	color: inherit;
	outline-width: 0px;
}

#content {
  color: $text_colour-content;
}

#footer {

}

// Navbar Changes //
.navbar-inverse {
  .navbar-header {
    > .active {
      background-color: $border_colour-main;
      color: #fff;
    }
  }
  .navbar-nav {
    > .active {
      > a {
        background-color: $border_colour-main;
        color: #fff;
      }
    }
  }
}

// Content Template System //


// Specific Modules //
.fa-btn {
  margin-right: 6px;
}

img {
  max-width: 100%;
}
