<template name="components_image">

  {{#if showImage}}
    <img src="{{src}}" class="{{class}} {{#if showLoading}}removed{{/if}}" data-caption="{{caption}}" alt="{{caption}}" id="{{getId}}">
  {{/if}}

  {{#if showLoading}}
    <imgdet class="{{class}}" id="image-detector-{{getId}}" data-appear-top-offset="200" data-appear-left-offset="200">
      <div class="preloader-wrapper small active">
        <div class="spinner-layer">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div>
          <div class="gap-patch">
            <div class="circle"></div>
          </div>
          <div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>
      </div>
    </imgdet>
  {{/if}}

</template>
