<template name="components_image">

  {{#if showImage}}
    <img src="{{src}}" class="{{class}} {{#if showLoading}}removed{{/if}} img-lazy" data-caption="{{caption}}" alt="{{caption}}" id="{{getId}}">
  {{/if}}

  {{#if showLoading}}
    <div class="{{class}} img-detector" id="img-detector-{{getId}}" data-appear-top-offset="200" data-appear-left-offset="200">
      <div class="img-detector-inner">
        <i class="fas fa-spinner fa-pulse fa-3x"></i>
        <span class="sr-only">{{caption}}</span>
      </div>
    </div>
  {{/if}}

</template>
