<template name="components_nav_main">
  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <span id="navMainBreadcrumbs" class="brand-logo center">
          {{#each breadCrumbs}}
            <a href="{{url}}" class="breadcrumb">{{name}}</a>
          {{/each}}
          <a class="breadcrumb">{{pageTitle}}</a>
          <span class="hidden"> x</span>
        </span>

        <a data-activates="navMainSide" class="button-collapse pointer">
          <i class="material-icons">menu</i>
        </a>

        <ul class="left hide-on-med-and-down">
          {{> components_nav_main_linksPublic}}
        </ul>

        {{#autoForm schema='Schemas.animeSearch' id='navMainSearchForm' class='right hide-on-med-and-down'}}
          {{> afQuickField name='query'}}
        {{/autoForm}}
      </div>
    </nav>
  </div>

  <ul class="side-nav" id="navMainSide">
    {{> components_nav_main_linksPublic}}
  </ul>
</template>

<template name="components_nav_main_linksPublic">
  {{> components_nav_main_link routeName='welcome' routeTitle='Home' activeWhen='welcome'}}
  {{> components_nav_main_link routeName='search' routeTitle='Anime' activeWhen='search|show|episodeSingle|episodeDouble'}}
</template>

<template name="components_nav_main_link">
  <li class="{{isActiveRoute regex=activeWhen}}">
    <a href="{{pathFor routeName}}">{{routeTitle}}</a>
  </li>
</template>
