<template name="components_nav_main">
  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <a data-activates="navMainSide" class="button-collapse pointer">
          <i class="material-icons">menu</i>
        </a>

        <ul class="left hide-on-med-and-down">
          {{> components_nav_main_linksPublic}}
          {{> components_nav_main_link_external href='https://animeold.wilcodeboer.me' title='Old Version' id='navMainOldSiteDesktop'}}
        </ul>

        <div id="navMainBreadcrumbs">
          {{#each breadCrumbs}}
            <a href="{{url}}" class="breadcrumb">{{name}}</a>
          {{/each}}
          <a class="breadcrumb">{{pageTitle}}</a>
          <span class="hidden"> x</span>
        </div>

        {{#autoForm schema='Schemas.animeSearch' id='navMainSearchForm' class='right hide-on-med-and-down'}}
          {{> afQuickField name='query'}}
        {{/autoForm}}
      </div>
    </nav>
  </div>

  <ul class="side-nav" id="navMainSide">
    {{> components_nav_main_linksPublic}}
    {{> components_nav_main_link_external href='https://animeold.wilcodeboer.me' title='Old Version' id='navMainOldSiteMobile'}}
  </ul>
</template>

<template name="components_nav_main_linksPublic">
  {{> components_nav_main_link_internal routeName='welcome' routeTitle='Home' activeWhen='welcome'}}
  {{> components_nav_main_link_internal routeName='search' routeTitle='Anime' activeWhen='search|show|episodeSingle|episodeDouble'}}
  {{> components_nav_main_link_external href='https://github.com/Wicloz/AnimeSentinel/tree/meteor' title='GitHub'}}
</template>

<template name="components_nav_main_link_internal">
  <li class="{{isActiveRoute regex=activeWhen}}">
    <a href="{{pathFor routeName}}">{{routeTitle}}</a>
  </li>
</template>

<template name="components_nav_main_link_external">
  <li>
    <a target="_blank" rel="noopener" href="{{href}}" id="{{id}}">
      {{title}}
      {{>tooltippedIcon icon='link' iconClass='right' text='External Link' position='bottom'}}
    </a>
  </li>
</template>
