@import "../../../client/_vars.scss";

.navbar-fixed {
  margin-bottom: $spacer;
}

.nav-breadcrumbs {
  text-align: center;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  direction: rtl;

  .hidden {
    font-size: 0;
  }
}
