@import "vars";

.primary-color {
  background-color: $primary-color !important;
}

.primary-color-light {
  background-color: $primary-color-light !important;
}

.primary-color-dark {
  background-color: $primary-color-dark !important;
}

.secondary-color {
  background-color: $secondary-color !important;
}

.pointer {
  cursor: pointer !important;
}

.removed {
  display: none !important;
  user-select: none !important;
}

.hidden {
  visibility: hidden !important;
  user-select: none !important;
}

.fullwidth {
  width: 100% !important;
  min-width: 100% !important;
  max-width: 100% !important;
}

.flex-row {
  display: flex;
  justify-content: space-evenly;
}

.flex-col-sides {
  flex-shrink: 0;
  flex-grow: 0;
}

.flex-col-center {
  flex-basis: 100%;
}
